<footer class="textured-background">
    <div class="stack">
        {% if index_page %}
        <a style="text-decoration: none" href="https://www.11ty.dev/speedlify/aninus-com/">
            <speedlify-score speedlify-url="https://www.11ty.dev/speedlify" hash="3959661a" score weight rank rank-change></speedlify-score>
            <script src="../../assets/scripts/speedify-score.js" defer async></script>
            <link rel="stylesheet" href="../../assets/styles/speedify.css" media="print" onload="this.media='all'">
        </a>
        {% endif %}
        <ul class="cluster" style="justify-content: center">
            <li><a href="/about#about-this-site">About this site</a></li>
            <li><a href="https://github.com/aninusmuffin/aninus.com/blob/main/LICENSE">License</a></li>
            <li><a href="https://github.com/aninusmuffin/aninus.com/blob/main/{{ page.inputPath | uri_escape }}">Edit this page</a></li>
        </ul>
        <p >Built on: <time datetime="{{ "today" | date: "%Y-%m-%d %H:%M" }}" class="build-date">{{ "today" | date: "%Y-%m-%d %H:%M" }}</time></p>

    </div>
</footer>