---

layout: layouts/main.liquid

---

<a class="text-3xl p-5" href="/"><- aninus.com</a>
<div class="mx-3 xl:mx-50 lg:mx-20 my-10 ">
    
    <div class=" h-80 m-10 w-auto 2xl:mx-50 rounded-3xl bg-center bg-cover bg-[url({{ image }})]"> </div>

    <p class="text-5xl text-center font-extrabold"> {{ title }} </p>

    <p class="text-xl text-center"> {{ date }} </p>

    <div class="">
    <article class="m-auto prose lg:prose-xl pt-5 dark:prose-invert ">

    {{ content }}

    </article>
    </div>

</div>

