---

layout: layouts/main.liquid

---

<a class=" tw:text-3xl tw:p-5" href="/"><- aninus.com</a>
<div class=" tw:mx-3 tw:xl:mx-50 tw:lg:mx-20 tw:my-10 ">
    
    <div class=" tw:h-80 tw:m-10 tw:w-auto tw:2xl:mx-50 tw:rounded-3xl tw:bg-center tw:bg-cover tw:bg-[url({{ image }})]"> </div>

    <h1 class=" tw:text-5xl tw:text-center tw:font-extrabold"> {{ title }} </h1>

    <p class=" tw:text-xl tw:text-center"> {{ date }} </p>

    <div class="">
    <article class=" tw:m-auto tw:prose tw:lg:prose-xl tw:pt-5 tw:dark:prose-invert ">

    {{ content }}

    </article>
    </div>

</div>

