<!DOCTYPE html>
<html lang="en" class="dark:bg-zinc-800 bg-gray-200 text-gray-900 dark:text-gray-300">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="title" content="{{ title }}">
    <meta name="description" content="Hi! I'm Aninus, welcome to my website!">
    <meta name="keywords" content="Programming, art, aninus, aninuscsalas, aninusmuffin">
    <link rel="icon" type="image/x-icon" href="{{ favicon }}">
    <link rel="stylesheet" type="text/css" href="/assets/styles/base.css">
</head>

<body class="min-h-screen">

  <main>
    {{ content }}
  </main>
</body>

<footer class="w-full m-auto text-center border-t-3 border-dashed bg-gray-300 text-gray-950 dark:bg-gray-800 dark:text-gray-50 justify-center py-10">
  <div class="">
    <p>
    Made with ❤️ using <a class="link" href="https://11ty.dev">11ty</a>, 
    <a class="link" href="https://liquidjs.com/index.html">LiquidJS</a>, 
    <a class="link" href="https://tailwindcss.com/">Tailwind</a> and 
    <a class="link" href="https://fontawesome.com/">Fontawesome</a>
        
    </p>
  </div>

</footer>

</html>

{% getBundle "fontawesome" %}
{% getBundle "customicons" %}
