@layer theme {

    /*noinspection CssInvalidFunction*/
    :root {
        color-scheme: normal;
        /* Due to chrome bug color-scheme: normal doesn't work*/
        @media (prefers-color-scheme: dark) {
            color-scheme: dark;
        }
        --text-size-regular: 1.25rem;
        --line-height-regular: calc(1.75 / 1.25);
        --text-size-title: 4.5rem;
        --line-height-title: 1;
        --text-subtitle: 3.75rem;
        --text-heading1: 3.75rem;
        --text-heading3: 2.25rem;
        --text-heading4: 1.85rem;
        --container-box: 48rem;

        --radius-md: 0.375rem;
        --radius-box: 1rem;
        --container-6xl: 72rem /* 1152px */;

        --hover-decoration: solid;
        --border-width: calc(var(--spacing));
        --border-style: dashed;

        --spacing: 0.25rem;


        --color-black: oklch(0 0 0);
        --color-white: oklch(1 0 89.876);

        --color-purple-light: oklch(82.7% 0.119 306.383);
        --color-purple: oklch(49.6% 0.265 301.924);
        --color-purple-dark: oklch(38.1% 0.176 304.987);

        --color-orange-light: oklch(92.4% 0.12 95.746);
        --color-orange: oklch(76.9% 0.188 70.08);

        --color-blue-light: oklch(88.2% 0.059 254.128);
        --color-blue: oklch(70.7% 0.165 254.624);
        --color-blue-reallydark: oklch(18.113% 0.04675 246.17);

        --color-grey-light: oklch(87.2% 0.01 258.338);
        --color-grey-dark: oklch(27.4% 0.006 286.033);
        --color-grey-reallylight: oklch(92.8% 0.006 264.531);



        --color-primary: light-dark(var(--color-purple), var(--color-purple-light));
        --color-text: light-dark(var(--color-blue-reallydark), var(--color-grey-light));
        --color-background: light-dark(var(--color-grey-reallylight), var(--color-grey-dark));
        --color-secondary-background: light-dark(var(--color-grey-light), var(--color-blue-reallydark));


        --color-link: var(--color-primary);
        --acolor-link-hover: light-dark(oklch(38.1% 0.176 304.987), oklch(62.7% 0.265 303.9));
        --color-link-hover: light-dark(color-mix(in oklab, var(--color-link) 50%, var(--color-purple-dark)), color-mix(in oklab, var(--color-link) 70%, var(--color-purple-dark)));

        --color-button-hover: var(--color-primary);
        --color-button: light-dark(var(--color-grey-light), var(--color-blue-reallydark));

        --color-muted-text: light-dark(oklch(37.3% 0.034 259.733), oklch(87.2% 0.01 258.338));

        --color-selection-background: light-dark(var(--color-blue-reallydark), var(--color-grey-light));
        --color-selection: light-dark(var(--color-white), var(--color-black));

        --color-code-background: var(--color-blue-reallydark);
        --color-code: var(--color-grey-light);
        --color-code-selection-background: var(--color-grey-reallylight);
        --color-code-selection: var(--color-black);

        /* Speedify color */
        --_circle: var(--color-primary);


        /* Callout Boxes */
        --color-callout-warning: light-dark(var(--color-black), var(--color-black));
        --color-callout-background-warning: light-dark(var(--color-orange), var(--color-orange-light));
        --color-callout-danger: light-dark(var(--color-black), var(--color-black));
        --color-callout-background-danger: light-dark(oklch(80.8% 0.114 19.571), oklch(93.6% 0.032 17.717));
        --color-callout-info: light-dark(var(--color-black), var(--color-black));
        --color-callout-background-info: light-dark(var(--color-blue), var(--color-blue-light));


        --diff-add: oklch(79.2% 0.209 151.711);
        --diff-remove: oklch(63.7% 0.237 25.331);



    }
}

@layer theme-legacy {
    :root {
        /* Right now (2025-10-28) light-dark() is still new to baseline */
        /*noinspection CssInvalidFunction*/
        @supports not (color: light-dark(red, blue)) {
            --color-background: #e5e7eb;
            --color-text: #101828;
            --color-muted-text: #364153;
            --color-selection-background: #101828;
            --color-selection: #ffffff;
            --color-link: #8200db;
            --color-link-hover: #59168b;
            --color-secondary-background: #d1d5dc;

            --color-button: #d1d5dc;
            --color-button-hover: var(--color-link);

            @media (prefers-color-scheme: dark) {
                --color-background: #27272a;
                --color-text: #d1d5dc;
                --color-muted-text: #d1d5dc;
                --color-link: #dab2ff;
                --color-link-hover: #ad46ff;
                --color-selection-dark: #000000;
                --color-selection-background: #e5e7eb;
                --color-secondary-background: #0f172b;
                --color-button: #000000;
                --color-button-hover: #dab2ff;
            }
            --color-callout-warning: #000000;
            --color-callout-background-warning: #fe9a00;
            --color-callout-danger: #000000;
            --color-callout-background-danger: #ffa2a2;
            --color-callout-info: #000000;
            --color-callout-background-info: #51a2ff;


            @media (prefers-color-scheme: dark) {
                --color-callout-warning: #000000;
                --color-callout-background-warning: #fee685;
                --color-callout-danger: #000000;
                --color-callout-background-danger: #ffe2e2;
                --color-callout-info: #000000;
                --color-callout-background-info: #bedbff;

            }

        }
    }
}

@font-face {
    font-family: "Bagnard";
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("/assets/fonts/Bagnard.woff2") format('woff2');
}

@font-face {
    font-family: "Adwaita Sans";
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("/assets/fonts/AdwaitaSans-Regular.subset.woff2") format("woff2");
}

line-numbers {
    font-family: monospace;
    font-size: var(--text-size-regular);
    line-height: var(--line-height-regular);
    display: flex;
    --uln-padding-v: 1em;
    --uln-padding-h: 0.5em;
    width: 100%;
}

article pre {
    white-space: pre;
    overflow: auto;

    width: 100%;
    max-width: 50rem;
    font-size: var(--text-size-regular);
    line-height: var(--line-height-regular);
    border-radius: var(--radius-box);
    color: var(--color-code);
    background-color: var(--color-code-background);


}

article pre > code {
    scrollbar-color: var(--color-code) var(--color-code-background);
    overflow: auto;
    display: block;
    padding-inline: calc(var(--spacing) * 6);
    padding-block: 1em;

 /*   max-height: 500px; */




}

pre > code::selection, pre > code *::selection{
    background-color: var(--color-code-selection-background);
    color: var(--color-code-selection);

}

code[class*="language-"],
pre[class*="language-"] {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */

pre[class*="language-"] {

}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
}

/* Inline code */

:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #f8f8f2;
}

.token.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: #f92672;
}

.token.boolean,
.token.number {
    color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
    color: #e6db74;
}

.token.keyword {
    color: #66d9ef;
}

.token.regex,
.token.important {
    color: #fd971f;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.deleted {
    background-color: color-mix(in oklab, var(--diff-remove) 30%, transparent);
}

.token.inserted {
    background-color: color-mix(in oklab, var(--diff-add) 30%, transparent);
}

/* Make the + and - characters unselectable for copy/paste */

.token.prefix.unchanged,
.token.prefix.inserted,
.token.prefix.deleted {
    -webkit-user-select: none;
    padding-inline-end: calc(var(--spacing) * 1);
    user-select: none;
    background-color: transparent;
}

/* Optional: full-width background color */

.token.inserted:not(.prefix),
.token.deleted:not(.prefix) {
    min-width: 100%;
    display: inline;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: calc(var(--spacing)*6);
}

.content article {
/*    margin-top: calc(var(--spacing) * 10); */
    max-width: 55rem;
    overflow-wrap: break-word;
    width: 100%;

}

table:before {
    overflow-x: auto;
}

table {
    margin-inline: auto;
    border-collapse: collapse;

}

td, th {
    padding: calc(var(--spacing)*4);
    border: calc(var(--border-width)/2) solid var(--color-text);
    text-align: center;
    overflow-wrap: break-word;

}

th {
    background-color: var(--color-secondary-background);
}

speedlify-score {
    height: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: calc(var(--spacing) * 12);

    @media (width >= 25rem /* 1024px */) {
        padding-bottom: calc(var(--spacing) * 7);

    }

    --_circle: var(--color-link);

    &:hover {
        --_circle: var(--color-link-hover);

    }
}

.bloglist {
    display: flex;
    justify-content: center;
    padding-block: calc(var(--spacing) * 10);
    max-width: 50rem;
    padding-inline: calc(var(--spacing)*5);
    gap: calc(var(--spacing) * 5);
    @media (width >= 64rem /* 1024px */) {
    }

}

.blogpost {
    gap: calc(var(--spacing) * 3);
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 100%;

    @media (width >= 50rem /* 1024px */) {
        grid-template-columns:  25% 75%;
    }


}

.blogpost > picture > img {
    align-self: center;
    aspect-ratio: 16/9;
    border-radius: var(--radius-box);
    max-width: calc(10rem*2);
    max-height: calc(6rem*2);
    -webkit-user-select: none;
    user-select: none;
    @media (width >= 50rem /* 1024px */) {
        max-width: 10rem;
        max-height: 6rem;
    }
}

.blogpost > picture {
    align-self: center;
    justify-self: center;

}

.blogpost > div {
    max-width: 60rem;
    justify-self: center;

    @media (width >= 50rem /* 1024px */) {
        justify-self: start;
    }

}

.blogpost > div > p {
    font-size: medium;
    margin-block: 5px;
}

.blogpost .title {
    text-align: left;
    margin: 0;
    font-size: var(--text-heading4);
    line-height: var(--line-height-title);
    font-weight: bold;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}

html {

    color: var(--color-text);
    background-color: var(--color-background);

    &::selection {
    color: var(--color-selection);
    background-color: var(--color-selection-background);
    }

    @media (prefers-color-scheme: dark) {
    color: var(--color-text);
    background-color: var(--color-background);

        &::selection {
        color: var(--color-selection);
        background-color: var(--color-selection-background);
        }

    }

}

body {
    margin: 0;
    display: block;
    font-family: "Adwaita Sans", sans-serif;
}

footer {
    width: 100%;
    justify-content: center;
    display: flex;
    margin: auto;
    position: absolute;
    bottom: 0;
    text-align: center;
    border-top: var(--border-width) var(--border-style);
    justify-self: center;
    padding-block: calc(var(--spacing) * 10);

    color: var(--color-muted-text);
    background-color: var(--color-secondary-background);

    @media (prefers-color-scheme: dark) {
    color: var(--color-muted-text) ;
    background-color: var(--color-secondary-background);

    }
}

h1 {
    font-size: var(--text-heading1);
    font-family: Bagnard, serif;
}

h2 {
    font-size: var(--text-heading3);
}

ul {
    padding: 0;
    margin-inline-start: calc(var(--spacing) * 5);
    list-style: disc;
}

p, li, ul, dd, dt {
    font-size: var(--text-size-regular);
    line-height: var(--line-height-regular);
    overflow-wrap: break-word;

}

/*
dt,dd {
    display: inline;
}

dd {
    margin-left: 0;
}
*/

dl > div {
    margin-bottom: calc(var(--spacing) * 2);
}

dt:before {
    content: "• ";
}

li {
    padding-block: calc(var(--spacing) * 2) /* 0.5rem = 8px */;
}

.textured-background {
    background-image: url(/assets/img/noise.webp);
    background-repeat: repeat;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: center;
    box-sizing: content-box;

}

h2 .icon {
    width: 0.75em;
    height: 0.75em;
    padding-inline-end: calc(var(--spacing) *2);
}

a {
    color: var(--color-link);
    text-decoration: underline;
    &:hover {
        @media (hover: hover) {
        color: var(--color-link-hover);
        text-decoration-line: underline;
        text-decoration-style: var(--hover-decoration) ;
        }
   }

@media (prefers-color-scheme: dark) {
    color: var(--color-link);
    &:hover {
        @media (hover: hover) {
        color: var(--color-link-hover);
            }
        }
   }

}

.box {
    display: block;
    border: var(--border-width) var(--border-style);
    border-radius: var(--radius-box);
    margin: calc(var(--spacing) * 2);
    max-width: var(--container-box);
}

.box > *:not(.vertical-flex) {
    margin: calc(var(--spacing) * 5);
}

.box > .vertical-flex {
    display: flex;
    flex-direction: column;
    :where(& > :not(:last-child)) {
        border-style: none none var(--border-style);
        border-bottom-width: var(--border-width);
        border-radius: var(--radius-md);
    }
}

.box > .vertical-flex > * {
    padding: calc(var(--spacing) * 5);
}

nav#navbar {
    background-image: url(/assets/img/noise.webp);
    border-bottom: var(--border-width) var(--border-style);
    padding: calc(var(--spacing));
    background-color: var(--color-secondary-background);

    @media (prefers-color-scheme: dark) {
        background-color: var(--color-secondary-background);
    }
}

nav#navbar ul{
    list-style: none;
}

nav#navbar li{
    padding: 0;
    display: inline-block;
}

nav#navbar li:not(:first-child):before {
    content: '/ ';
}


