
.bloglist {
    display: flex;
    justify-content: center;
    max-width: 50rem;
    gap: calc(var(--spacing) * 5);

}

.blogpost > picture > img {
    aspect-ratio: 16/9;
    align-self: center;
    max-inline-size: 100%;
    block-size: 100%;
    object-fit: contain;
    border-radius: var(--radius-box);
    -webkit-user-select: none;
    user-select: none;
}

.blogpost.switcher {
    --treshold: 20rem;
}

.blogpost > picture {
    align-self: center;
    justify-self: center;
}

.blogpost.switcher > picture  {
    display: flex;
    justify-content: center;
}

.blogpost.switcher > div {
    flex-grow: 3;
}

.blogpost > div > p {
    font-size: var(--font-size-small);
}

.blogpost .title {
    text-align: left;
    font-size: var(--font-size-medium);
    line-height: var(--line-height-title);
    font-weight: bold;
}