
.callout {

    border-style: var(--border-style);
    overflow: hidden;
    border-radius: var(--radius-box);
    border-width: var(--border-width);
    margin-block: calc(var(--spacing) * 7);

}

.callout > * {
    padding-inline: 1rem;
    padding-block: 1rem;
}

.callout-content {
    margin: 0;
    border-block-start: var(--border-width) var(--border-style);
    border-radius: var(--radius-md);
}

.callout-content > *  {
    margin: 0;
}

.callout-title {
    inline-size: 100%;
    color-scheme: light;
    display: inline-flex;
    font-size: var(--font-size-2);
    line-height: var(--line-height-title);
    font-weight: bold;
    gap: 0.5rem;
    background-image: url(/assets/img/noise.webp);
}

.callout-title-icon {
    block-size: 1cap;
    inline-size: 1cap;
    vertical-align: baseline;

}

.lucide {
    block-size: 1cap;
    inline-size: 1cap;
}

.callout[data-callout="warning"] > .callout-title {
    color: var(--color-callout-warning) ;
    background-color: var(--color-callout-background-warning);
}

.callout[data-callout="danger"] > .callout-title{
    color: var(--color-callout-danger) ;
    background-color: var(--color-callout-background-danger);
}

.callout[data-callout="info"] > .callout-title {
    color: var(--color-callout-info);
    background-color: var(--color-callout-background-info);

}

