
.bloglist {
    display: flex;
    justify-content: center;
    max-width: 50rem;
    gap: calc(var(--spacing) * 5);

}

.blogpost > picture > img {
    aspect-ratio: 16/9;
    align-self: center;
    max-inline-size: 100%;
    block-size: 100%;
    object-fit: contain;
    border-radius: var(--radius-box);
    -webkit-user-select: none;
    user-select: none;
}

.blogpost.switcher {
    --treshold: 20rem;
}

.blogpost > picture {
    align-self: center;
    justify-self: center;
}

.blogpost.switcher > picture  {
    display: flex;
    justify-content: center;
}

.blogpost.switcher > div {
    flex-grow: 3;
}

.blogpost > div > p {
    font-size: var(--font-size-small);
}

.blogpost .title {
    text-align: left;
    font-size: var(--font-size-medium);
    line-height: var(--line-height-title);
    font-weight: bold;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: normal;
}

.index-page-content {
    display: flex;
    justify-content:center;

    margin-inline: calc(var(--spacing) * 3);
}

.index-page-content .box {
    max-width: var(--container-box);
    width: 100%;
}

.index-page-content h2 {
    line-height: var(--line-height-title);
    font-family: "Bagnard", serif;
}

.index-page-content h3 {
    line-height: var(--line-height-title);
}

.index-page-content > .grid {
    min-inline-size: min(120ch, 100%);
    max-width: 120ch;
    gap: calc(var(--spacing) * 4);
    grid-template-columns: repeat(auto-fit, minmax(min(45ch, 100%), 1fr));
    justify-self: center;
    justify-items: center;
}

.blog-latest {
    gap: calc(var(--spacing) * 2) /* 1rem = 16px */;
    justify-self: center;
    width: 100%;
    grid-template-columns: repeat(1, minmax(0, 1fr));


    @media (width >= 50rem /* 1024px */) {
        grid-template-columns:  25% 75%;
    }

}

.blog-latest > picture > img {
    aspect-ratio: 16/9;
    align-self: center;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: var(--radius-box);
    @media (width >= 50rem) {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        -webkit-user-select: none;
        user-select: none;
    }
}

.blog-latest > picture {
    align-self: center;
    justify-self: center;
}

.blog-latest > div {
    max-width: 30rem;
    @media (width >= 50rem) {
    grid-column: 2 / 3;
    }
}

.blog-latest > div > p {
    line-height: 1;
    font-size: var(--font-size-small);
}

.blog-latest .title {
    text-align: left;
    font-size: var(--font-size-medium);
    font-weight: bold;
}

.button {
    display: inline;
    justify-self: center;
    border-radius: var(--radius-box);
    border-width: var(--border-width);
    border-style: var(--border-style);
    padding: calc(var(--spacing) * 4);
    text-decoration: none; 
    align-self: center;

    &:hover {
        background-color: var(--color-button-hover);
        color: var(--color-button);
        text-decoration: none;
    }
}

.hero {
    display: flex;
    justify-content: center;
    inline-size: 100%;
    block-size: 100%;
    background-color: var(--color-secondary-background);
    border-block-end-style: var(--border-style);
    border-block-end-width: var(--border-width);

}

.hero > .hero-content {
    margin-block: calc(var(--spacing) * 20) /* 5rem = 80px */;
    align-self: center;
    align-content: center;
    max-width: var(--container-6xl) /* 72rem = 1152px */;
    margin: calc(var(--spacing) * 5) /* 1.5rem = 24px */;
    margin-top: calc(var(--spacing) * 20);
    margin-bottom: calc(var(--spacing) * 20);
}

.hero > .hero-content > .grid {
    gap: calc(var(--spacing) * 4) /* 1rem = 16px */;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-self: center;


    @media (width >= 64rem /* 1024px */) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

}

.social {

}

#index-page-hero-logo {
    display: flex;
    text-align: center;
    border-radius: calc(infinity * 1px);
    justify-self: center;
    width: calc(var(--spacing) * 65);
    height: calc(var(--spacing) * 65);
}

.active{
    animation: spin 1.5s normal;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

div.social {
    display: grid;
    gap: calc(var(--spacing) * 1) /* 1rem = 16px */;
    margin: calc(var(--spacing) * 1) /* 2rem = 32px */;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    place-content: center;
    place-items: center;
}

a.social {
    color: var(--color-link);
    &:hover {
        @media (hover: hover) {
            color: var(--color-link-hover);
        }
    }
}

a.social > svg {
    width: 3.5rem;
    height: 3.5rem;


}

.hero h1 {
    font-family: "Adwaita Sans", sans-serif;
    font-size: var(--text-size-title);
    line-height: var(--line-height-title);
}

.hero-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hero-grid {
    display: grid;
    gap: calc(var(--spacing) * 4) /* 1rem = 16px */;
    grid-auto-columns: minmax(10px, auto);
    grid-template-columns: repeat(auto-fit, minmax(min(40ch, 100%), 1fr));
    justify-self: center;

}
