
h1, h2, h3, h4, h5 {
    font-weight: normal;
}

.icontent h2 {
    font-family: "Bagnard", serif;
}

.icontent.grid {
    padding-inline: 1rem;
    max-inline-size: 120ch;
    gap: calc(var(--spacing) * 4);
    --grid-column-size: 45ch;
}

.button {
    display: inline-block;
    justify-self: center;
    border-radius: var(--radius-box);
    border-width: var(--border-width);
    border-style: var(--border-style);
    padding: calc(var(--spacing) * 4);
    text-decoration: none; 
    align-self: center;

    &:hover {
        background-color: var(--color-button-hover);
        color: var(--color-button);
        text-decoration: none;
    }
}

.hero {
    view-transition-name: nav;
    display: flex;
    justify-content: center;
    inline-size: 100%;
    align-self: center;

    background-color: var(--color-secondary-background);
    border-color: var(--color-text);
    border-block-end-style: var(--border-style);
    border-block-end-width: var(--border-width);

}

.hero > .hero-content {
    margin-block: calc(var(--spacing) * 20) /* 5rem = 80px */;
    align-self: center;
    align-content: center;
    max-width: var(--container-6xl) /* 72rem = 1152px */;
    margin: calc(var(--spacing) * 5) /* 1.5rem = 24px */;
    margin-top: calc(var(--spacing) * 20);
    margin-bottom: calc(var(--spacing) * 20);
}

#index-page-hero-logo {
    view-transition-name: mylogo;
    display: flex;
    text-align: center;
    border-radius: calc(infinity * 1px);
    justify-self: center;
    max-inline-size: calc(var(--spacing) * 65);
    inline-size: 100%;
    &:hover {
        cursor: pointer;
    }
}

#index-page-hero-logo.active{
    animation: spin 1.5s normal;
    &:hover {
        cursor: default;
    }

}

#index-page-hero-logo:active {
    transform: scale(98%);
    transition-duration: 0.2s;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg) scale(1);
    }
}

.socials {
    --grid-column-size: var(--font-size-4);
}

a.social {
    display: block;
    color: var(--color-link);
    transition-duration: 0.1s;
    &:hover {
        @media (hover: hover) {
            color: var(--color-link-hover);
            transform: scale(110%);
            transition-duration: 0.1s;
        }
    }
}

a.social > svg {
    width: var(--font-size-4);
    height: var(--font-size-4);

}

.hero h1 {
    font-family: "Adwaita Sans", sans-serif;
    line-height: var(--line-height-title);
}

.hero p, .hero h1 {
    max-inline-size: none;
}

.hero-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hero-grid {
    display: grid;
    gap: calc(var(--spacing) * 4) /* 1rem = 16px */;
    grid-template-columns: repeat(auto-fit, minmax(min(40ch, 100%), 1fr));
    justify-self: center;

}

.feedbar {
    --sidebar-size: 1ch;
    font-size: var(--font-size-4);
}