speedlify-score {
    height: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: calc(var(--spacing) * 12);

    @media (width >= 25rem /* 1024px */) {
        padding-bottom: calc(var(--spacing) * 7);

    }

    --_circle: var(--color-link);

    &:hover {
        --_circle: var(--color-link-hover);

    }
}