
.callout {
    border-style: dashed;
    border-color: black;
    border-radius: 1rem;
    border-width: var(--border-width);
    padding: calc(var(--spacing) * 5) /* 1.25rem = 20px */;
    margin: calc(var(--spacing) * 2) /* 0.5rem = 8px */;
    margin-bottom: calc(var(--spacing) * 5);
    background-image: url(/assets/img/noise.webp);
}


.callout-title {
    font-size: var(--text-heading3) /* 1.875rem = 30px */;
    line-height: var(--line-height-title) ;
    font-weight: bold;
}


.callout-title-icon {
    display: inline-block;
    place-self: end;
    margin: calc(var(--spacing) * 1);
    margin-right: calc(var(--spacing) * 2);
    vertical-align: middle;

}


.callout-title-inner {
    display: inline-block;
    vertical-align: middle;
}


.lucide {
    width: calc(var(--spacing) * 7);
    height: calc(var(--spacing) * 7);
}


.callout[data-callout="warning"] {
    color: var(--color-callout-warning) ;
    background-color: var(--color-callout-background-warning);

    @media (prefers-color-scheme: dark) {
        color: var(--color-callout-warning) ;
        background-color: var(--color-callout-background-warning);
    }
}


.callout[data-callout="danger"] {
    color: var(--color-callout-danger) ;
    background-color: var(--color-callout-background-danger);
    @media (prefers-color-scheme : dark) {
        color: var(--color-callout-warning) ;
        background-color: var(--color-callout-background-danger);
    }
}


.callout[data-callout="info"] {
    color: var(--color-callout-info);
    background-color: var(--color-callout-background-info);
    @media (prefers-color-scheme : dark) {
        color: var(--color-callout-info) ;
        background-color: var(--color-callout-background-info);
    }

}


.callout a {
    color: inherit;
    &:hover {
        @media (hover: hover) {
            color: var(--color-link-hover);
        }
    }
}


.content {
    margin-block: calc(var(--spacing) * 10);
    margin-inline: calc(var(--spacing) * 5);
}


article img {
    border-radius: var(--radius-box);
    max-width: 90%;
    margin-inline: auto;
    display: block;
    justify-self: center;
    height: auto;
    object-fit: contain;
    max-height: 100%;

}


.thumbnail {
    aspect-ratio: 16/9;
    border-radius: var(--radius-box);
    max-height: 30rem;
    max-width: 45rem;
    width: 100%;
    height: 100%;

}


#title {
    font-size: var(--text-size-title);
    line-height: var(--text-heading1);
    text-align: center;
    font-weight: bolder;
}


#subtitle {
    text-align: center;
}


/*
.content h1 {
    font-family: "Adwaita Sans", sans-serif;
    line-height: var(--line-height-title);}
*/


.content h3 {
    font-size: var(--text-heading3) ;
    line-height: var(--line-height-title);
}


.content a:not(.callout a){
    color: var(--color-link);
    &:hover {
        @media (hover: hover) {
        color: var(--color-link-hover);
        text-decoration-line: underline;
        text-decoration-style: var(--hover-decoration) ;
        }
   }
@media (prefers-color-scheme: dark) {
    color: var(--color-link);
    &:hover {
        @media (hover: hover) {
        color: var(--color-link-hover);
            }
        }
   }


}


#table-of-contents  {
    max-height: 55rem;
    overflow-y: auto;
    background-color: var(--color-secondary-background);
    padding: calc(var(--spacing)*5);
    height: fit-content;
    @media (width >= 50rem /* 1024px */) {
        grid-column: 2;
        position: sticky;
        top: calc(var(--spacing) * 5);
    }

    &:hover {
        cursor: pointer;
    }

}


#table-of-contents summary{
    font-size: var(--text-size-regular);
}


.content article {
    margin-top: calc(var(--spacing) * 10);
    max-width: 70rem;
    overflow-wrap: break-word;
    width: 100%;

}


article > section {
    display: grid;
    grid-template-columns: 100%;
    @media (width >= 50rem) {
        grid-template-columns: 75% 25%;
        gap: calc(var(--spacing) * 5);
    }

}


#post {
    width: 100%;
    max-width: 50rem;
    @media (width >= 50rem /* 1024px */) {
        grid-column: 1;
        grid-row: 1;
    }
}
