
.callout {

    border-style: var(--border-style);
    overflow: hidden;
    border-radius: var(--radius-box);
    border-width: var(--border-width);
    margin-block: calc(var(--spacing) * 7);

}

.callout > * {
    padding-inline: 1rem;
    padding-block: 1rem;
}

.callout-content {
    margin: 0;
    border-block-start: var(--border-width) var(--border-style);
    border-radius: var(--radius-md);
}

.callout-content > *  {
    margin: 0;
}

.callout-title {
    inline-size: 100%;
    color-scheme: light;
    display: inline-flex;
    font-size: var(--font-size-2);
    line-height: var(--line-height-title);
    font-weight: bold;
    gap: 0.5rem;
    background-image: url(/assets/img/noise.webp);
}

.callout-title-icon {
    block-size: 1cap;
    inline-size: 1cap;
    vertical-align: baseline;

}

.lucide {
    block-size: 1cap;
    inline-size: 1cap;
}

.callout[data-callout="warning"] > .callout-title {
    color: var(--color-callout-warning) ;
    background-color: var(--color-callout-background-warning);
}

.callout[data-callout="danger"] > .callout-title{
    color: var(--color-callout-danger) ;
    background-color: var(--color-callout-background-danger);
}

.callout[data-callout="info"] > .callout-title {
    color: var(--color-callout-info);
    background-color: var(--color-callout-background-info);

}

.content img {
    display: block;
    margin-inline: auto;
    block-size: auto;
    border-radius: var(--radius-box);
}

.thumbnail {
    view-transition-name: thumbnail;
    border-radius: var(--radius-box);
    max-inline-size: 35rem;
    inline-size: 100%;
    block-size: auto;

}

#title {
    text-align: center;
}

#subtitle {
    text-align: center;
}

#table-of-contents  {
    max-height: 55rem;
    height: fit-content;
    overflow-y: auto;

    z-index: 99;
    background-color: var(--color-secondary-background);

    position: sticky;
    top: calc(var(--spacing) * 5);
}

@container (inline-size < 63ch) {
    #table-of-contents {
        position: static;

    }
}

#table-of-contents ol {
    padding-inline-start: 1.3rem;
}

#table-of-contents summary{
    &:hover {
        cursor: pointer;
    }
}

.content {
    margin-top: calc(var(--spacing) * 10);
    max-inline-size: 70rem;
    overflow-wrap: break-word;
    inline-size: 100%;
    align-items: center;

}

.content > .with-sidebar {
    max-inline-size: 90ch;
    align-items: flex-start;
    inline-size: 100%;
    flex-direction: row-reverse;
}

#post {
    max-inline-size: 60ch;
}
