@import url(tailwind.css);

@import url(fonts.css);

@import url(callouts.css);
@import url(diffs.css);

.link {
    color: var(--color-blue-700);
   &:hover {
    @media (hover: hover) {
        color: var(--color-blue-900);
        text-decoration-line: underline;
    }
   } 
   @media (prefers-color-scheme: dark) {
    color: var(--color-blue-300);
    &:hover {
            @media (hover: hover) {
                color: var(--color-blue-500);
            }
        }
   }

}


.dashed-border-box {
    border: 3px, dashed;
    border-radius: var(--radius-2xl);
    margin: calc(var(--spacing) * 2);
    max-width: var(--container-4xl);
}