@import url(tailwind.css);

@import url(theme.css);








@font-face {
  font-family: "Adwaita Sans";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/assets/fonts/AdwaitaSans-Regular.subset.woff2") format(woff2);
}




html {
    color: var(--color-text-light);
    background-color: var(--color-background-light);

    ::selection {
    color: var(--color-selection-light);
    background-color: var(--color-selection-background-light);
    }

    @media (prefers-color-scheme: dark) {
    color: var(--color-text-dark);
    background-color: var(--color-background-dark);

        ::selection {
        color: var(--color-selection-dark);
        background-color: var(--color-selection-background-dark);
        }

    }

}

body {
    margin: 0px;
    display: block;
    font-family: "Adwaita Sans", sans-serif;
}

footer {
    width: 100%;
    margin: auto;
    position: absolute;
    bottom: 0;
    text-align: center;
    border-top: var(--border-width) var(--border-style);
    justify-self: center;
    padding-block: calc(var(--spacing) * 10);

    color: var(--color-muted-text-light);
    background-color: var(--color-secondary-background-light);

    @media (prefers-color-scheme: dark) {
    color: var(--color-muted-text-dark) ;
    background-color: var(--color-secondary-background-dark);

    }
}

h1, h2, h3, h4, h5 {
    margin: 0px;
    font-weight: normal;
}



ul {
    padding: 0px;
    margin-inline-start: calc(var(--spacing) * 5) /* 1.25rem = 20px */;
    list-style: disc;
}



p, li, ul {
    font-size: var(--tw-text-xl) /* 1.25rem = 20px */;
    line-height: var(--tw-leading, var(--tw-text-xl--line-height) /* calc(1.75 / 1.25) ≈ 1.4 */);

}

li {
    padding-block: calc(var(--spacing) * 2) /* 0.5rem = 8px */;
}


.textured-background {
    background-image: url(/assets/img/noise.webp);
    background-repeat: repeat;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.small-icon {
    width: calc(var(--spacing) * 5) /* 1.25rem = 20px */;
    height: calc(var(--spacing) * 5) /* 1.25rem = 20px */;
    display: inline-block;
    vertical-align: middle;
}

h1 > .icon {
    width: calc(var(--spacing) * 10);
    height: calc(var(--spacing) * 10);
    display: inline-block;
    vertical-align: middle;
    padding-inline-end: calc(var(--spacing) *2);
}

.link {
    color: var(--color-link-light);
    text-decoration: underline;
    &:hover {
        @media (hover: hover) {
        color: var(--color-link-hover-light);
        text-decoration-line: underline;
        text-decoration-style: var(--hover-decoration) ;
        }
   }

@media (prefers-color-scheme: dark) {
    color: var(--color-link-dark);
    &:hover {
        @media (hover: hover) {
        color: var(--color-link-hover-dark);
            }
        }
   }

}

.contenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenter > div {
    padding-inline: calc(var(--spacing)*5);
    max-width: 50rem;
    padding-block: calc(var(--spacing)*5) ;
}


.dashed-border-box {
    display: block;
    border: var(--border-width) var(--border-style);
    border-radius: var(--tw-radius-2xl);
    margin: calc(var(--spacing) * 2);
    max-width: var(--tw-container-3xl);
}

.dashed-border-box > .vertical-flex {
    display: flex;

    flex-direction: column;
    :where(& > :not(:last-child)) {
        --tw-divide-y-reverse: 0;
        border-style: none none var(--border-style);
        border-bottom-width: var(--border-width);
        border-radius: var(--tw-radius-md);
    }
}


.dashed-border-box > .vertical-flex > * {
    padding: calc(var(--spacing) * 5) /* 1.25rem = 20px */;
}


    /*
    @media (width >= 80rem ) {
        margin-inline: calc(var(--tw-spacing) * 20);
    }
    @media (width >= 90rem  {
        margin-inline: calc(var(--tw-spacing) * 50);
    } */

