
.bloglist {
    display: flex;
    justify-content: center;
    padding-block: calc(var(--spacing) * 10);
    max-width: 50rem;
    padding-inline: calc(var(--spacing)*5);
    gap: calc(var(--spacing) * 5);
    @media (width >= 64rem /* 1024px */) {
    }

}

.blogpost {
    gap: calc(var(--spacing) * 3);
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 100%;

    @media (width >= 50rem /* 1024px */) {
        grid-template-columns:  25% 75%;
    }


}

.blogpost > picture > img {
    align-self: center;
    aspect-ratio: 16/9;
    border-radius: var(--radius-box);
    max-width: calc(10rem*2);
    max-height: calc(6rem*2);
    -webkit-user-select: none;
    user-select: none;
    @media (width >= 50rem /* 1024px */) {
        max-width: 10rem;
        max-height: 6rem;
    }
}

.blogpost > picture {
    align-self: center;
    justify-self: center;

}

.blogpost > div {
    max-width: 60rem;
    justify-self: center;

    @media (width >= 50rem /* 1024px */) {
        justify-self: start;
    }

}

.blogpost > div > p {
    font-size: medium;
    margin-block: 5px;
}

.blogpost .title {
    text-align: left;
    margin: 0;
    font-size: var(--text-heading4);
    line-height: var(--line-height-title);
    font-weight: bold;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}