
.callout {
    border-style: dashed;
    border-color: black;
    border-radius: 1rem;
    border-width: 3px;
    padding: calc(var(--spacing) * 5) /* 1.25rem = 20px */;
    margin: calc(var(--spacing) * 2) /* 0.5rem = 8px */;
    margin-bottom: calc(var(--spacing) * 5);
    background-image: url(/assets/img/noise.png);
}


.callout-title {
    font-size: var(--text-3xl) /* 1.875rem = 30px */;
    line-height: var(--tw-leading, var(--text-3xl--line-height) /* calc(2.25 / 1.875) ≈ 1.2 */);
    --tw-font-weight: var(--font-weight-bold) /* 700 */;
    font-weight: var(--font-weight-bold) /* 700 */;
}

.callout-title-icon {
    display: inline-block;
    place-self: end;
    margin: calc(var(--spacing) * 1);
    margin-right: calc(var(--spacing) * 2);
    vertical-align: middle;

}

.callout-title-inner {
    display: inline-block;
    vertical-align: middle; 
}

.lucide {
    width: calc(var(--spacing) * 7) /* 1.75rem = 28px */;
    height: calc(var(--spacing) * 7) /* 1.75rem = 28px */; 
}

.callout[data-callout="warning"] {
    background-color: var(--color-amber-500) /* oklch(76.9% 0.188 70.08) */;
    color: var(--color-black) /* #000 = #000000 */;
    @media (prefers-color-scheme: dark) {
        background-color: var(--color-amber-200) /* oklch(92.4% 0.12 95.746) = #fee685 */;
    }
}

.callout[data-callout="danger"] {
    background-color: var(--color-red-300);
    color: var(--color-black);
    @media (prefers-color-scheme : dark) {
        background-color: var(--color-red-100) /* oklch(93.6% 0.032 17.717) = #ffe2e2 */;
    }
}

.callout[data-callout="info"] {
    background-color: var(--color-blue-400);
    color: var(--color-black);
    @media (prefers-color-scheme : dark) {
        background-color: var(--color-blue-200)  /* oklch(88.2% 0.059 254.128) */;
    }

}

.callout a {
    color: var(--color-black);
    &:hover {
        @media (hover: hover) {
            color: var(--color-gray-600) /* oklch(44.6% 0.03 256.802) = #4a5565 */;
        }
    }
}