.hero {
    display: flex;
    width: 100%;
    background-color: var(--color-secondary-background-light);

    justify-content: center;
    height: 100%;
    @media (prefers-color-scheme: dark) {
        background-color: var(--color-secondary-background-dark);
    }
    
    @media (width >= 48rem /* 768px */) {
        height: auto;
    }
    border-bottom-style: var(--border-style);
    border-bottom-width: var(--border-width);

}

.hero > .hero-content {
    margin-block: calc(var(--tw-spacing) * 20) /* 5rem = 80px */;
    align-self: center;
    align-content: center;
    max-width: var(--tw-container-6xl) /* 72rem = 1152px */;
    margin: calc(var(--tw-spacing) * 5) /* 1.5rem = 24px */;
    margin-top: calc(var(--tw-spacing) * 20);
    margin-bottom: calc(var(--tw-spacing) * 20);
}

.hero > .hero-content > .grid {
    gap: calc(var(--tw-spacing) * 4) /* 1rem = 16px */;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-self: center;


    @media (width >= 64rem /* 1024px */) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

}

.grid .social {
    gap: calc(var(--tw-spacing) * 10) /* 1rem = 16px */;
    margin: calc(var(--tw-spacing) * 6) /* 2rem = 32px */;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    place-content: center;
    place-items: center;
}

.index-page-hero-logo {
    display: flex;
    text-align: center;
    max-width: var(--tw-container-xs) /* 20rem = 320px */;
    border-radius: calc(infinity * 1px);
    justify-self: center;


    width: calc(var(--tw-spacing) * 65) /* 12.5rem = 200px */;
    height: calc(var(--tw-spacing) * 65) /* 12.5rem = 200px */;

    @media (width >= 64rem /* 1024px */) {
        width: calc(var(--tw-spacing) * 80) /* 20rem = 320px */;
        height: calc(var(--tw-spacing) * 80) /* 20rem = 320px */;
        justify-self: center;

    }
}


a.social {
    color: var(--tw-color-black) /* #000 = #000000 */;
    &:hover {
        @media (hover: hover) {
            color: var(--tw-color-neutral-600) /* oklch(43.9% 0 0) = #525252 */;
        }
    }
    @media (prefers-color-scheme: dark) {
        color: var(--tw-color-neutral-50) /* oklch(98.5% 0 0) = #fafafa */;
        &:hover {
            @media (hover: hover) {
                color: var(--tw-color-neutral-400) /* oklch(70.8% 0 0) = #a1a1a1 */;
            }
        }
    }
}

a.social > i, a.social > svg {
    width: calc(var(--tw-spacing) * 12) /* 3rem = 48px */;
    height: calc(var(--tw-spacing) * 12) /* 3rem = 48px */;
    
    @media (width >= 64rem /* 1024px */) {
        width: calc(var(--tw-spacing) * 15) /* 3.75rem = 60px */;
        height: calc(var(--tw-spacing) * 15) /* 3.75rem = 60px */;
    }

}

.hero-title {
    margin: auto;
    font-size: var(--tw-text-7xl) /* 3.75rem = 60px */;
    line-height: var(--tw-leading, var(--tw-text-7xl--line-height) /* 1 */);

    @media (prefers-color-scheme: dark) {
        color: var(--tw-color-gray-100) /* oklch(96.7% 0.003 264.542) = #f3f4f6 */;
    }

}

.hero-text {
    padding-block: calc(var(--tw-spacing) * 5) /* 1.25rem = 20px */;

    @media (prefers-color-scheme: dark) {
        color: var(--tw-color-gray-100) /* oklch(96.7% 0.003 264.542) = #f3f4f6 */;
    }
}