speedlify-score {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    --_circle: var(--color-link);

    &:hover {
        --_circle: var(--color-link-hover);

    }
}