


@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme) theme(static) prefix(tw);
@import "tailwindcss/utilities.css" layer(utilities) prefix(tw);

@source "./_site/*.{html,js}";
@plugin "@tailwindcss/typography";



@theme {
  --font-display: "Adwaita Sans", sans-serif; 
  --font-coolfont: "Bagnard", serif;
  --default-font-family: var(--font-display);
}



