


@import "tailwindcss";

@source "./_site/*.{html,js}";
@plugin "@tailwindcss/typography";



@theme {
  --font-display: "Adwaita Sans", sans-serif; 
  --font-coolfont: "Bagnard", serif;
  --default-font-family: var(--font-display);
}



