@import url(../code.css);

.content{
    display: flex;
    max-inline-size: var(--measure);
    inline-size: 100%;
    padding-inline: 1rem;
    margin-block-start: calc(var(--spacing)*6);
    overflow-wrap: break-word;

}

table {
    margin-inline: auto;
    border-collapse: collapse;
    inline-size: 100%;
}

hr {
    background-color: var(--color-text);
    block-size: 0.2em;
    inline-size: 90%;
}

td, th {
    padding: 0.7rem;
    border: calc(var(--border-width)/2) solid var(--color-text);
    text-align: center;
    overflow-wrap: break-word;
}

th {
    background-color: var(--color-secondary-background);
}

.webfavicon {
    inline-size: 1.1em;
    block-size: 1.1em;
    align-self: center;

}

.webfavicon img {
    max-block-size: 100%;
    border-radius: 1rem;
    vertical-align: center;
}