
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: calc(var(--spacing)*6);
}

.content article {
/*    margin-top: calc(var(--spacing) * 10); */
    max-width: 55rem;
    overflow-wrap: break-word;
    width: 100%;

}

table:before {
    overflow-x: auto;
}

table {
    margin-inline: auto;
    border-collapse: collapse;

}


td, th {
    padding: calc(var(--spacing)*4);
    border: calc(var(--border-width)/2) solid var(--color-text);
    text-align: center;
    overflow-wrap: break-word;

}

th {
    background-color: var(--color-secondary-background);
}

