@import url(../code.css);


.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: calc(var(--spacing)*6);
}

.content article {
    box-sizing: content-box;
    max-width: 70ch;
    overflow-wrap: break-word;
    width: 100%;
    margin-block: calc(var(--spacing)*6);

}

table:before {
    overflow-x: auto;
}

table {
    margin-inline: auto;
    border-collapse: collapse;

}

hr {
    background-color: var(--color-text);
    block-size: 0.2em;
    inline-size: 90%;
}

td, th {
    padding: calc(var(--spacing)*4);
    border: calc(var(--border-width)/2) solid var(--color-text);
    text-align: center;
    overflow-wrap: break-word;

}

th {
    background-color: var(--color-secondary-background);
}

.webfavicon {
    box-sizing: content-box;
    inline-size: 1.2em;
    block-size: 1.2em;
    border-radius: 1rem;
    margin-inline-end: var(--spacing);
}
