@import url(../callouts.css);


.content img {
    display: block;
    margin-inline: auto;
    block-size: auto;
    border-radius: var(--radius-box);
}

.thumbnail {
    view-transition-name: thumbnail;
    border-radius: var(--radius-box);
    max-inline-size: 35rem;
    inline-size: 100%;
    block-size: auto;

}

#title {
    text-align: center;
}

#subtitle {
    text-align: center;
}

#table-of-contents  {
    max-height: 55rem;
    height: fit-content;
    overflow-y: auto;

    z-index: 99;
    background-color: var(--color-secondary-background);

    position: sticky;
    top: calc(var(--spacing) * 5);
}
@container (inline-size < 63ch) {
    #table-of-contents {
        position: static;

    }
}

#table-of-contents ol {
    padding-inline-start: 1.3rem;
}

#table-of-contents summary{
    &:hover {
        cursor: pointer;
    }
}

.content {
    margin-top: calc(var(--spacing) * 10);
    max-inline-size: 70rem;
    overflow-wrap: break-word;
    inline-size: 100%;
    align-items: center;

}


.content > .with-sidebar {
    max-inline-size: 90ch;
    align-items: flex-start;
    inline-size: 100%;
    flex-direction: row-reverse;
}

#post {
    max-inline-size: 60ch;
}
