@import url(../callouts.css);
@import url(../diffs.css);
@import url(../code.css);


.content {
    margin-block: calc(var(--spacing) * 10);
    margin-inline: calc(var(--spacing) * 5);
}

article img {
    border-radius: var(--radius-box);
    max-width: 90%;
    margin-inline: auto;
    display: block;
    justify-self: center;
    height: auto;
    object-fit: contain;
    max-height: 100%;

}

.thumbnail {
    aspect-ratio: 16/9;
    border-radius: var(--radius-box);
    max-height: 30rem;
    max-width: 45rem;
    width: 100%;
    height: 100%;

}

#title {
    font-size: var(--text-size-title);
    line-height: var(--text-heading1);
    text-align: center;
    font-weight: bolder;
}

#subtitle {
    text-align: center;
}

article pre {
        max-width: 100%;
        overflow: auto;

}

code:not(p > code)::selection, code:not(p > code) *::selection{
        background-color: var(--color-code-selection-background);
        color: var(--color-code-selection);

}

article code:not(p > code) {


    font-size: var(--text-size-regular);
    line-height: var(--line-height-regular);
    display: block;
    border-radius: var(--radius-box);
    background-color: var(--color-code-background);
    padding: calc(var(--spacing) * 6);
    overflow-x:auto;
    text-wrap: wrap;
    white-space: pre-wrap;
    word-break: break-word;
    color: var(--color-code);
    max-height: 500px;
    @media (width >= 64rem /* 1024px */) {
        overflow-x:auto;
        }
}


/*
.content h1 {
    font-family: "Adwaita Sans", sans-serif;
    line-height: var(--line-height-title);}
*/

.content h3 {
    font-size: var(--text-heading3) ;
    line-height: var(--line-height-title);
}


.content a:not(.callout a){
    color: var(--color-link);
    &:hover {
        @media (hover: hover) {
        color: var(--color-link-hover);
        text-decoration-line: underline;
        text-decoration-style: var(--hover-decoration) ;
        }
   }
@media (prefers-color-scheme: dark) {
    color: var(--color-link);
    &:hover {
        @media (hover: hover) {
        color: var(--color-link-hover);
            }
        }
   }


}

#table-of-contents  {
    max-height: 55rem;
    overflow-y: auto;
    background-color: var(--color-secondary-background);
    padding: calc(var(--spacing)*5);
    height: fit-content;
    @media (width >= 50rem /* 1024px */) {
        grid-column: 2;
        position: sticky;
        top: calc(var(--spacing) * 5);
    }

    &:hover {
        cursor: pointer;
    }

}



#table-of-contents summary{
    font-size: var(--text-size-regular);
}

.content article {
    margin-top: calc(var(--spacing) * 10);
    max-width: 70rem;
    overflow-wrap: break-word;
    width: 100%;

}

article > section {
    display: grid;
    @media (width >= 50rem) {
        grid-template-columns: 3fr 1fr;
        gap: calc(var(--spacing) * 5);
    }

}

#post {
    @media (width >= 50rem /* 1024px */) {
        grid-column: 1;
        grid-row: 1;
    }
}