@import url(../callouts.css);

.content {
    margin-block: calc(var(--spacing) * 10);
    margin-inline: calc(var(--spacing) * 5);
}

article img {
    border-radius: var(--radius-box);
    max-width: 90%;
    margin-inline: auto;
    display: block;
    justify-self: center;
    height: auto;
    object-fit: contain;
    max-height: 100%;

}

.thumbnail {
    aspect-ratio: 16/9;
    border-radius: var(--radius-box);
    max-block-size: 20rem;
    max-inline-size: 35rem;
    inline-size: 100%;
    block-size: 100%;

}

#title {
    font-size: var(--text-size-title);
    text-align: center;
    font-weight: bolder;
}

#subtitle {
    text-align: center;
}


.content a:not(.callout a){
    color: var(--color-link);
    &:hover {
        @media (hover: hover) {
        color: var(--color-link-hover);
        text-decoration-line: underline;
        text-decoration-style: var(--hover-decoration) ;
        }
   }
@media (prefers-color-scheme: dark) {
    color: var(--color-link);
    &:hover {
        @media (hover: hover) {
        color: var(--color-link-hover);
            }
        }
   }


}

.switcher {
    container-type: inline-size;
}

#table-of-contents  {
    flex-shrink: 1;
    flex-grow: 0.5;
    flex-basis: 20rem;
    max-height: 55rem;
    overflow-y: auto;
    background-color: var(--color-secondary-background);
    padding: calc(var(--spacing)*2);
    height: fit-content;
    order: 0;



}

@container (width >= 61.7rem) {
    #table-of-contents {
        position: sticky;
        top: calc(var(--spacing) * 5);
        order: 9;
    }
}



.switcher > #table-of-contents {
    --treshold: 50rem;

}

#table-of-contents summary{

    &:hover {
        cursor: pointer;
    }
}

.content article {
    margin-top: calc(var(--spacing) * 10);
    max-width: 70rem;
    overflow-wrap: break-word;
    width: 100%;

}


article > div {
    display: grid;
    justify-content: center;
    max-inline-size: 120ch;
 /*   grid-template-columns: 100%;
    @media (width >= 50rem) {
        grid-template-columns: 60% 25%;
        gap: calc(var(--spacing) * 5);
    }
*/
}

#post {

    flex-grow: 5;
    width: 100%;
    max-inline-size: 65ch;
    flex-basis: 70ch;
    @media (width >= 50rem /* 1024px */) {
        grid-column: 1;
        grid-row: 1;
    }
}
